body {
    background: black;
}

.upper-header {
    background: black;
    height: 15px;
}

.header-container {
    display: flex;
    background: #0e0e0e;
    height: 105px;
    justify-content: space-between;

}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: .75rem;
    text-decoration: none;
    font-family: "Orion Esperanto Dika", cursive;
    margin-left: 20px;

    img {
        width: 2.5rem;
        border-radius: 5px;
    }

    span {
        display: inline;
        color: white;
        font-weight: 20;
        font-size: 35px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-family: "Orion Esperanto Dika", cursive;
    margin-left: auto;
    margin-right: 50px;

    .header-text {
        display: inline;
        color: white;
        font-weight: 20;
        font-size: 35px;
        text-decoration: none;
    }
}