{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounting_service/css/accounting_page.css' %}">
{% endblock %}

{% block content %}
    <div class="data-container">
        <div class="file-input-container">
            <div class="file-input">
                <form action="save-file/" enctype="multipart/form-data" method="POST" id="file-form">
                    {% csrf_token %}
                    <label class="plus-icon-label" for="file-input">
                        <span class = "plus-icon">+</span>
                    </label>
                    <input id="file-input" name="file" type="file" style="display: none;">
                </form>
            </div>
        </div>
        <div class="row-input-container">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'accounting_service/js/auto-upload.js' %}"></script>
{% endblock %}