{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounting_service/css/accounting_page.css' %}">
{% endblock %}

{% block content %}
    <div class="data-container">
        <div class="file-input-container">
            <div class="file-input">
                <form action="save-file/" enctype="multipart/form-data" method="POST" id="file-form">
                    {% csrf_token %}
                    <label class="plus-icon-label" for="file-input">
                        <span class = "plus-icon">+</span>
                    </label>
                    <input id="file-input" name="file" type="file" style="display: none;">
                </form>
            </div>
        </div>
        <div class="row-input-container">
                <form action="save/" method="POST"> 
                {% csrf_token %}
                <div class="input-container">
                    <label for="date_inp">date</label>
                    <input name="date" id="date_inp" type="date">
                </div>
                <div class="input-container">
                    <label for="product_inp">product</label>
                     <select class="selection_field" id="product-field" name="product">
                            <option selected></option>
                            {% for product in existing_products %}
                                <option value="{{product.id }}">{{ product.name|default_if_none:"" }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="input-container">
                    <label for="store_inp">store</label>
                     <select class="selection_field" id="store-field" name="store">
                            <option selected></option>
                            {% for store in existing_stores %}
                                <option value="{{store.id }}">{{ store.store_code|default_if_none:"" }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="input-container">
                    <label for="sales_inp">sales</label>
                    <input name="sales" id="sales_inp" type="text">
                </div>
                <div class="input-container">
                    <label for="COGS_inp">COGS</label>
                    <input name="COGS" id="COGS_inp" type="text">
                </div>
                <div class="input-container">
                    <label for="marketing_expenses_inp">marketing exp</label>
                    <input name="marketing_expenses" id="marketing_expenses_inp" type="text">
                </div>
                <div class="input-container">
                    <label for="other_expenses_inp">other exp</label>
                    <input name="other_expenses" id="other_expenses_inp" type="text">
                </div>
                <div class="input-container">
                    <label for="other_expenses_inp">return</label>
                    <input name="return_flag" type="checkbox">
                </div>
                
                <button class="save-btn" type="submit">Save</button>

                </form>
        </div>
    </div>
    <div style="margin-top: 20px;">
        {{ chart_html|safe }}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'accounting_service/js/auto-upload.js' %}"></script>
{% endblock %}